# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Postman
/pm-results/

# Build artifacts
/dist/1
/build/
/out/

# IDE and editor files
/.idea/
/.vscode/
*.iml

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs and temporary files
*.log
*.tmp
*.temp